.partners-container {
  border: 3px solid gray;
  border-style:dashed;
background-color:rgb(234, 234, 234);
  width: 90%;
  margin: 150px auto;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading>h1{
  color: black;
  margin-top: -70px;
  background-color: #fff;
  width: 320px;
  /* border: 1px solid crimson; */
}
.recuriter-logos-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.recruiters-logo{
  /* border: 1px solid green; */
    margin: 10px 20px;
    height: 100px ;
    /* width: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}
.recruiters-logo>img{
    height: 40px;
    /* border: 2px solid gray; */
    object-fit: cover;
    box-shadow: 0 5px 6px rgba(116, 112, 112, 0.1);
}