.partners-container {
  border: 3px solid gray;
  border-style:dashed;

  width: 90%;
  margin: 150px auto;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading>h1{
  color: black;
  margin-top: -70px;
  background-color: #fff;
  width: 320px;
  /* border: 1px solid crimson; */
}
.recuriter-logos-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.recruiters-logo{
  border: 1px solid green;
    margin: 20px 50px;
    height: 150px ;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}
.recruiters-logo>img{
    height: 100px;

    border: 2px solid gray;
}