
.login-page {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;

    h2 {
        color: #32325d;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
    }

    .form-group {
        margin-bottom: 1rem;

        label {
            color: #32325d;
            font-weight:400;
            margin-bottom: 0.5rem;
            display: block;
        }

        input {
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid #f7fafc;
            background-color: #f7fafc;
            color: #32325d;
            font-weight: 400;
            transition: all 0.3s ease;
            width: 100%;

            &:focus {
                outline: none;
                border-color: #6439ff;
                box-shadow: 0 0 0 0.2rem rgba(#6439ff, 0.25);
            }
        }
    }

     select {
         width: 100%;
         padding: 8px;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box;
         font-size: 16px;
         cursor: pointer;
     }


    button {
        background-color: #6439ff;
        border: none;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        display: block;
        margin: 0 auto;

        button:hover {
            background-color: darken(#6439ff, 10%);
        }
    }
     .newUser {
         margin-top: 8px;
         color: rgb(118, 115, 115);

     }

     .clickhere {
         text-decoration: none;
     }

     .clickhere:hover {
         color: blue;
         text-decoration: underline;
         cursor: pointer;
     }
}

  

